<%= form_with(model: @comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text, "Comment" %>
    <%= form.text_area :text, id: :comment_text %>
  </div>

  <div class="field">
    <% form.label :user_id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <% form.label :rume_id %>
    <%= form.hidden_field :rume_id, value: @rume %>
  </div>

  <div class="field">
    <% form.label :convo_id %>
    <%= form.hidden_field :convo_id, value: nil %>
  </div>
  
  <div class="field">
    <% form.label :store_id %>
    <%= form.hidden_field :store_id, value: @store %>
  </div>

  <div class="field">
    <% form.label :likes %>
    <%= form.hidden_field :likes, id: :comment_likes %>
  </div>

  <div class="field">
    <% form.label :dislikes %>
    <%= form.hidden_field :dislikes, id: :comment_dislikes %>
  </div>
  
  <div class="field">
    <% form.label :commentable_id %>
    <%= form.hidden_field :commentable_id, value: commentable.id %>
  </div>
  
  <div class="field">
    <% form.label :commentable_type %>
    <%= form.hidden_field :commentable_type, value: commentable.class %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
