<h1>Stores#new stuff</h1>
<p>Find me in app/views/stores/new.html.erb</p>

<%= form_with url: user_makestore_path do |f| %>

    <%= f.label :name, "Store Name" %>
    <%= f.text_field :name %>
    
    <br>
    
    <%= f.label :email %>
    <%= f.text_field :email %>

    <br>

    <%= f.label :phone_Number %>
    <%= f.text_field :phone_number %>

    <br>
    
    <%= f.label :location %>
    <%= f.text_field :location %>
    
    <br>
    
    <%= f.label :products %>
    <%= f.text_field :products %>
    
    <br>
    
    <%= f.label :description %>
    <%= f.text_area :description %>
    
    <br>
    
    <% f.label :user_id %>
    <% f.hidden_field :user_id, value: current_user.id %>
    
    <br>
    
    <% f.label :store_id %>
    <% f.hidden_field :store_id, value: @store.id %>
    
    <br>
    
    <%= f.submit %>
    
<% end %>