<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @store.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @store.description %>
</p>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th> votes </th>
      <th>Product</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>

      <%  if product.store_id != @store.id
            print product
          else
            print nil %>

        <tr>
          <td><%= product.name %></td>
          <td> <%= link_to "↑", upvotecom_path(@rume.id, @convo.id, comment.id) %> 
          <%= comment.upvote_com.count - comment.downvote_com.count %> 
          <%= link_to "↓", downvotecom_path(@rume.id, @convo.id, comment.id) %> </td>
          <td><%= product.text %></td>
          <td> <% if current_user.id == product.user_id %>
                      <%=  link_to 'Edit', edit_user_store_product_path(@user, @store, prpduct) %> |
                      <%=  link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %>
               <% end %> </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<br>

<%= render 'comments/form', comment: @comment %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th> votes </th>
      <th>Comment</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>

      <%  if comment.convo_id != @convo.id
            print comment
          else
            print nil %>

        <tr>
          <td><%= comment.user.name %></td>
          <td> <%= link_to "↑", upvotecom_path(@user.id, @store.id, comment.id) %> 
          <%= comment.upvote_com.count - comment.downvote_com.count %> 
          <%= link_to "↓", downvotecom_path(@user.id, @store.id, comment.id) %> </td>
          <td><%= comment.text %></td>
          <td> <% if current_user.id == comment.user_id %>
                      <%=  link_to 'Edit', edit_user_store_comment_path(@user, @store, comment) %> |
                      <%=  link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
               <% end %> </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<br>

<% if current_user.id == @store.user_id %>
  <%= link_to 'Edit', edit_user_store_path(@user, @product) %> |
  <%= link_to 'Back', user_path(@user) %>
<% end %>