<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @store.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @store.description %>
</p>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th> votes </th>
      <th>Product</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  
</table>

<br>
<br>



<table>
  <thead>
    <tr>
      <th>Name</th>
      <th> votes </th>
      <th>Comment</th>
      <th colspan="5"></th>
    </tr>
  </thead>
  
  <%= render 'comments/form', comment: Comment.new, commentable: @store %>

  <tbody>
    <% @comments.each do |comment| %>
    
      <%  if comment.commentable_id != @store.id || comment.commentable_type != "Store"
            print comment
          else
            print nil %>

        <tr>
          <td><%= comment.user.name %></td>
          <td> <%= link_to "↑", upvotecom_path(comment.id) %> 
          <%= comment.upvote_com.count - comment.downvote_com.count %> 
          <%= link_to "↓", downvotecom_path(comment.id) %> </td>
          <td><%= comment.text %></td>
          <td> <% if current_user.id == comment.user_id %>
                      <%=  link_to 'Edit', edit_store_comment_path(@store, comment) %> |
                      <%=  link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
               <% end %> </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<br>

<% if current_user.id == @store.user_id %>
  <%= link_to 'Edit', edit_user_store_path(current_user.id, @store) %> |
<% end %>

<br>

<%= link_to 'Add A Product', new_user_store_product_path(@user.id, @store.id, @product) %>

<br>

<%= link_to 'Back', 'javascript:history.go(-1);' %>

