<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @convo.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @convo.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @convo.description %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @convo.likes %>
</p>

<p>
  <strong>Url:</strong>
  <%= @convo.url %>
</p>

<%= render 'comments/form', comment: @comment %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th> votes </th>
      <th>Comment</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>

      <%  if comment.convo_id != @convo.id
            print comment
          else
            print nil %>

        <tr>
          <td><%= comment.user.name %></td>
          <td> <%= link_to "↑", upvotecom_path(@rume.id, @convo.id, comment.id) %> 
          <%= comment.upvote_com.count - comment.downvote_com.count %> 
          <%= link_to "↓", downvotecom_path(@rume.id, @convo.id, comment.id) %> </td>
          <td><%= comment.text %></td>
          <td> <% if current_user.id == comment.user_id %>
                      <%=  link_to 'Edit', edit_rume_convo_comment_path(@rume, @convo, comment) %> |
                      <%=  link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
               <% end %> </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<br>

<% if current_user.id == @convo.user_id %>
  <%= link_to 'Edit', edit_rume_convo_path(@rume, @convo) %> |
  <%= link_to 'Back', rume_path(@rume) %>
<% end %>
