<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @convo.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @convo.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @convo.description %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @convo.likes %>
</p>

<p>
  <strong>Url:</strong>
  <%= @convo.url %>
</p>

<%= render 'comments/form', comment: @comment %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>

      <%  if comment.convo_id != @convo.id
            print comment
          else
            print nil %>

        <tr>
          <td><%= comment.user.name %></td>
          <td><%= comment.text %></td>
          <td><%= link_to 'Edit', edit_rume_convo_comment_path(@rume, @convo, comment, type: "up") method: "post" %> </td>
          <td>|<%= link_to "Up", up_rume_convo_comment_path(@rume, @convo, comment) %></td>
          <td>|<%= link_to "Down", down_rume_convo_comment_path(@rume, @convo, comment, type: "down") method: "post" %></td>
          <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>



<%= link_to 'New Comment', new_rume_convo_comment_path(@rume, @convo, @comment) %>
<%= link_to 'Edit', edit_rume_convo_path(@rume, @convo) %> |
<%= link_to 'Back', rume_path(@rume) %>
