<%= form_with(model: tottle, local: true) do |form| %>
  <% if tottle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tottle.errors.count, "error") %> prohibited this tottle from being saved:</h2>

      <ul>
      <% tottle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message, id: :tottle_message %>
  </div>

  <div class="field">
    <% form.label :user_id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
