<h1>Your Convos</h1>

<table>
  <thead>
    <tr>
    	<th>Name</th>
    	<th>Rume</th>
      <th>Convo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @convos.each do |convo| %>

      <%  if convo.user_id != current_user.id
            print convo
          else
            print nil %>

        <tr>
        	<td><%= convo.user.name %></td>
        	<td><%= convo.rume.name %></td>
          <td><%= convo.title %></td>
          <td><%= link_to 'Edit', edit_user_convo_path(current_user.id, convo.id) %></td>
          <td><%= link_to 'Destroy', convo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>