<%= form_with(model: rume, local: true) do |form| %>
  <% if rume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rume.errors.count, "error") %> prohibited this rume from being saved:</h2>

      <ul>
      <% rume.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :creator %>
    <%= form.hidden_field :creator, value: @user.id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :rume_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :rume_description %>
  </div>

  <div class="field">
    <% form.label :user_id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <% form.label :room_id %>
    <%= form.hidden_field :room_id, value: @rume.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
