<p id="notice"><%= notice %></p>

<h1>Rumes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Listeners</th>
      <th>Guidelines</th>
      <th>User</th>
      <th>Room</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rumes.each do |rume| %>
      <tr>
        <td><%= rume.name %></td>
        <td><%= rume.description %></td>
        <td><%= rume.listeners %></td>
        <td><%= rume.guidelines %></td>
        <td><%= rume.user_id %></td>
        <td><%= rume.room_id %></td>
        <td><%= link_to 'Show', rume %></td>
        <td><%= link_to 'Edit', edit_rume_path(rume) %></td>
        <td><%= link_to 'Destroy', rume, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rume', new_rume_path %>
