<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rume.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @rume.description %>
</p>

<p>
  <strong>Guidelines:</strong>
  <%= @rume.guidelines %>
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Comments</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @convos.each do |convo| %>

      <%  if convo.rume_id != @rume.id
            print convo
          else
            print nil %>

        <tr>
          <td><%= convo.title %></td>
          <td><%= convo.description %></td>
          
          <td><%= convo.user.username %></td>
          <td><%= link_to 'Show', rume_convo_path(@rume, convo) %></td>
          <td><%= link_to 'Edit', edit_rume_convo_path(@rume, convo) %></td>
          <td><%= link_to 'Destroy', convo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to "Listen", listen_path(@rume) %> |
<%= link_to "Ignore", ignore_path(@rume) %>

<br>

<%= link_to 'New Rume', new_rume_path %> |

<%= link_to 'New Convo', new_rume_convo_path(@rume) %> |
<%= link_to 'Edit', edit_rume_path(@rume) %> |
<%= link_to 'Back', rumes_path %>
