<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rume.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @rume.description %>
</p>

<p>
  <strong>Listeners:</strong>
  <%= @rume.listeners %>
</p>

<p>
  <strong>Guidelines:</strong>
  <%= @rume.guidelines %>
</p>

<p>
  <strong>User:</strong>
  <%= @rume.user_id %>
</p>

<p>
  <strong>Room:</strong>
  <%= @rume.room_id %>
</p>

<%= link_to 'Edit', edit_rume_path(@rume) %> |
<%= link_to 'Back', rumes_path %>
