<h1>Products#new</h1>


<h1>Stores#new stuff</h1>
<p>Find me in app/views/stores/new.html.erb</p>

<%= form_with url: new_user_store_product_path do |f| %>

    <%= f.label :name, "Product Name" %>
    <%= f.text_field :name %>
    
    <br>
    
    <%= f.label :description %>
    <%= f.text_field :description %>

    <br>

    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
    
    <br>
    
    <% f.label :user_id %>
    <% f.hidden_field :user_id, value: current_user.id %>
    
    <br>
    
    <% f.label :store_id %>
    <% f.hidden_field :store_id, value: @store.id %>
    
    <br>
    
    <%= f.submit %>
    
<% end %>
